{% extends "base.html" %}

{% block title%}
Register | CMS
{% endblock title%}

{% block style %} <link rel="stylesheet" href="../static/register.css"> {% endblock style %}

{% block content %}
<div class="back_button">
    <a href="/" id="back_button"> <- Back</a >
</div>
<section id="form">
    <div>
    <div id="main"> <span>Registration </span></div>
<form action="/register" method="post">
    <div  id="fields">
        <div> <input type="file" placeholder="Image" name="image" required class="input_file"></div>
        <div> <input type="text"  placeholder="Username"  name="username" class="inputs" required> </div>
        <div> <input type="text"  placeholder="Subject"  name="subject" class="inputs" required> </div>
        <div> <input type="password" placeholder="Password" name="password" class="inputs" required></div>
        <div> <input type="password" placeholder="Cofirm Password" name="c_password" class="inputs" required></div>
    </div>
    <div class="button">
        <input type="submit" value="Register" class="press">
    </div>
</form>
</div>
</section>

{% endblock content %}
